@charset "UTF-8";

/*Title Bar*/
header {
    width:         100%;
    height:         20px;
    background:    -webkit-linear-gradient(top, #253237, #253237 100%);
    border-bottom: 3px solid #242423;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

body {
    overflow-x: hidden;
}
/*Window Controls*/
header>ul {
    float:        left;
    text-align:   left;
    line-height:  0;
    padding-right: 6px;
}

header>ul>,
header>ul>>a {
    display: inline-block;
}

header>ul {
    float: right;
}

header>ul>a {
    margin: 3px 6px 6px 0;
    -webkit-transition: -webkit-transform 200ms;
    -webkit-app-region: no-drag;
}

header>ul>a:hover,
header>ul>>a:focus {
    -webkit-transform:  scale(1.22,1.22);
    outline:            none;
}

#windowControlClose {
    background-color: #95190C;
    height: 11px;
    width: 11px;
    padding-right: 5px;
    margin-bottom: 5px;
    border: none;
}

#windowControlMaximize{ 
    background-color: #E3B505;
    height: 11px;
    width: 11px;
    padding-right: 5px;
    margin-bottom: 5px;
    border: none;
}

#windowControlMinimize {
    background-color: #53A548;
    height: 11px;
    width: 11px;
    padding-right: 5px;
    margin-bottom: 5px;
    border: none;
}

.windowControls {
    margin-top: 5px;
}

#dropZone {
    float: left;
    position: absolute;
    z-index: 1;
}

.ontop {
    float: left;
    position: absolute;
    z-index: 1;
}

iframe {
    float: none;
    /*position: relative;*/
    z-index: -1px;
    height: 400px,
    width: 600px,
    margin: 0px;
    padding: 0px;
}

.search-top {
    margin-bottom: -35px;
    float: right;
    height: 5px;
}

.search-view {
    padding-top: 35px;
}

.btn-sm {
    margin: 2px 2px 2px 2px;
}

.input-group {
    margin: 2px;
}
